body {
    background-color: burlywood; 
}

section { /* espacio entre Secciónes */
    margin-top: 20px; /* Espacio de 20px */
}

header { /* Encabezado de la página */
    display: flex; /* Activa Flexbox */
    justify-content: space-between; /* Separa el <h1> y el <nav> */
    align-items: center; /* Centra verticalmente los elementos */
    background: rebeccapurple; /* Color de fondo opcional */
    padding: 10px 20px; /* Espaciado interno */
    color: white; /* Color del texto */
    border-radius: 10px; /* Bordes redondeados */
}

h1 {    
    font-size: 24px; /* Tamaño del texto del encabezado */
    margin: 0; /* Elimina márgenes para evitar desalineación */
}

.Bordes_redondeados { /* Clase */
    background-color: lightblue; /* Color de fondo */
    color: darkblue; /* Color del texto */
    padding: 10px 30px; /* Espaciado interno. 10 espacio arriba y abajo y 30 espacio a la izquierda y derecha */
    border-radius: 10px; /* Bordes redondeados */
}

.nav-enlace { /* Clase para los enlaces de navegación */
    display: inline-block; /* Mantiene los enlaces en línea */
    background: salmon; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px 30px; /* Espaciado interno */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
}

.nav-enlace:hover { /* Efecto hover al pasar el cursor */
    background: rosybrown; /* Cambia el color de fondo al pasar el cursor */
}

nav{
    display: flex; /* Activa Flexbox */
    justify-content: flex-end; /* Alinea los enlaces a la derecha */
    gap: 10px; /* Espaciado entre los enlaces */
    background: rebeccapurple; /* Color de fondo del nav */
    padding: 10px; /* Espaciado interno */
}

.imagen-lugar {
    width: 300px; /* Ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 10px; /* Espaciado entre las imágenes */
    border-radius: 10px; /* Bordes redondeados opcionales */
}